* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navbarSupportedContent .navbar-nav {
    margin-left: auto;
}

header {
    background-image: url(./../img/3d-character-business-woman_935410-577.avif);
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: right;
    width: 100vw;
    height: 100vh;
}

.hero .head {
    margin: 200px;
}


.btn-secondary {
    width: 200px;
}

.head p {
    font-size: 20px;
}

.head button {
    height: 40px;
}

.navigation>.container {
    width: 90%;
}

.navigation>.container .logo-toggle-container {
    left: 50%;
    top: 50px;
    transform: translateX(-50%);
}

.navigation>.container .logo-toggle-container a {
    font-size: 30px;
    color: rgb(1, 124, 120);
}

.section {
    padding-top: 20px;
    padding-bottom: 20px;
}

.cards .icon {
    box-shadow: 0px 1px 2px grey;
    transition: all 0.3s;
}

.cards .icon:hover {
    transform: scale(1.10);
}

.cards .icon .iconpic {
    width: 180px;
    border-radius: 50%;
}

.cards .icon .icons-info {
    padding-left: 30px;
}

.about .container .section-title h1 {
    padding-top: 200px;
}

.about .section-title .underline {
    width: 60px;
    height: 3px;
    background-color: rgb(1, 124, 120);
}

.iconA .icon {
    width: 300px;
}

.imgIcon img {
    max-width: 100%;
    height: 300px;
}

.icon p {
    line-height: 30px;
    color: rgb(92, 91, 91);
    font-weight: 550;
}

.btnIcon {
    background-color: rgb(1, 124, 120);
    height: 40px;
}

.btnIcon a {
    color: white;
}

.col img {
    max-width: 70vw;
    margin-top: 20px;
    width: 350px;
}

.testimonials .section-title .underline {
    width: 60px;
    height: 3px;
    background-color: white;
}


.Contact .container {
    width: 100% !important;
}


.contactForm .form-control {
    box-shadow: none !important;
    border: none;
    border-bottom: 1px solid rgb(206, 206, 206);
}

.form-control:focus, .form-control:active {
    border-bottom-color: black !important;
}

.btn {
    background-color: rgb(1, 124, 120);
}

.box-area {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
}

.box {
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(114, 114, 114, 0.458);
}

.box img {
    border-radius: 10px;
    transition: transform 0.5s;
}

.overlay {
    height: 0;
    background: linear-gradient(transparent, #5ca58b 58%);
    border-radius: 10px;
    left: 0;
    bottom: 0;
    padding: 0 40px;
    font-size: 14px;
    transition: height 0.5s;
    color: #fff;

}

.overlay h3 {
    margin-top: 30%;
}

.overlay a {
    margin-top: 10px;
    color: #262626;
    font-size: 14px;
    border-radius: 50px;
    padding: 5px 15px;
}

.box:hover img {
    transform: scale(1.1);
}

.box:hover .overlay {
    height: 100%;
}

textarea::placeholder {
    line-height: 200px;
}

@media screen and (max-width:992px) {


    .light {
        width: 100%;
        height: 100%;
        background-color: rgba(213, 213, 213, 0.361);
    }

    .hero .head {
        margin-left: 10px;
        margin-top: 40%;
    }

    .btn-secondary {
        width: 150px;
    }
}